<div class="footer-clean">
  <div class="container">
    <div class="row justify-content-evenly" style="align-items: center;">
        <div class="col item">
          <img src="../../../assets/logo.png"/>
        </div>

        <div class="col item">
            <h3>Contact us:</h3>
            <ul>
                <li><a href="tel:00201029475189">00201029475189 </a></li>
                <li><a href="mailto:info@valuedent.co">info&#64;valuedent.co</a></li>
            </ul>
        </div>

    </div>
</div>
</div>
<footer >
  <!-- <div style="display: flex;align-items: center;">
    <div>
      <img src="../../../assets/logo.png"/>
    </div>
    <div style="display: flex;justify-content: space-evenly; width: 100%;font-size: large;">
      <div>
        <h2>visit us:</h2>
        <span> 12 Tag Elden Elsboky , Heliopolis , Cairo. </span>
      </div>
  <div style="display: flex;">
    <h2>contact us:</h2>
    <a href="tel:00201097588774">00201097588774 </a><a href="tel:00201092262201">- 00201092262201</a>
    <a href="info@valuedent.co">info@valuedent.co</a>
  </div>
    </div>


  </div> -->


</footer>
